$mainRegularFont: Montserrat-Regular;
$mainBoldFont: Montserrat-Bold;
$secondaryFont: KaushanScript-Regular;
$lightFontColor: #ffffff;
$hoverFontColor: #fce38a;
$accentBgColor: #95e1d3;
$lineColor: #f38181;
$borderLightColor: rgba(255, 255, 255, 0.5);
$borderDarkColor: rgba(0, 0, 0, 0.2);
$middleColor: #aca9a9;